/* some style */




/* GLOBAL STYLES */

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #e9f1fc;
  color: #474747;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.app {
  height: 100%;
}

h1,h2,h3,h4 {
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}
h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}


.Main {
  position: relative;
}

.View {
  padding: 12px;
  box-sizing: border-box;
}

.ViewPage {
  position: absolute;
  transition: all .25s;
  top: 0;
  left: -150%;
  background: #e9f1fc;
  min-width: 100%;
  min-height: 100%;
}
.ViewPage.visible {
  left: 0;
}

.borderText {
  border-bottom: 2px solid #2f8ffb;
  width: 40%;
  padding-bottom: 8px;
}

input {
  background: #f8fbff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 1.15rem;
  margin-top: 8px;
  margin-bottom: 16px;
}

input.timelineInput {
  width: 30px;
}

.header {
  padding-bottom: 24px;
}

button.primary{
  background: #56d379;
  width: 120px;
  height: 50px;
  border-radius: 16px;
  text-align: center;
  color: white;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .25s;
  border: none;
}

button.primary:hover {
  background: #43a55e;
}

button.secondary {
  background: #2f8ffb;
  color: white;
  text-align: center;
  border: none;
  transition: all .25s;
}

button.secondary:hover {
  background: #287ad6;
}



/* HOME PAGE STYLES */
.Home.header {
  text-align: center;
  font-weight: 600;
}

.Home .addGoalButton{
  background: #56d379;
  width: 120px;
  height: 50px;
  border-radius: 16px;
  text-align: center;
  color: white;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .25s;
  position: fixed;
  bottom: 24px;
  right: 24px;
}


.Home .addGoalButton:hover {
  background: #43a55e;
}


/* NEW GOAL PAGE */
.New.header {
  display: flex;
}
.New.header p {
  width: 33%;
}
.New.header p:not(:first-of-type) {
  text-align: center;
  font-weight: 600;
}

.timelineItem {
  display: flex;
  padding: 12px;
}

.timelineLabel {
  padding-left: 12px;
  font-size: 1.05rem;
  line-height: 40px;
}

.milestoneItem {
  display: flex;
  margin: 16px 0;
}

.milestoneItem .milestoneDate {
  width: 35%;
}

.milestoneItem .milestoneValue {
  width: 35%;
  margin-left: 12px;
}

.removeMilestone {
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 3rem;
  background: #fb4945;
  text-align: center;
  color: white;
  transition: all .25s;
  margin-left: 12px;
  margin-top: 12px;
}

.removeMilestone:hover {
  background: #e1413d;
  cursor: pointer;
}

.New .saveGoal {
  margin-top: 56px;
}

/* GOAL STYLES */

.Goal {
  display: flex;
  transition: all .25s;
  cursor: pointer;
}

.Goal:hover {
  background: #d1e2fa;
}

.Goal.left {
  width: 40%;
  text-align: center;
}

.Goal.left h3 {
  width: 100%;
}

.Goal.right {
  text-align: center;
  width: 60%;
  display: block;
  padding-top: 16px;
}

.Goal.right p {
  margin-top: 8px;
}

.Goal.bar {
  width: 90%;
  background: white;
  border-radius: 6px;
  height: 30px;
  position: relative;
}

.Goal.bar.filled {
  background: #6dcff6;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
}
